<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<h1 style="text-align: center">Universidade Federal de Campina Grande</h1><br><br><br>
<div class="col-md-4"></div>
<a class="btn btn-primary" <%= link_to 'Cadastro de Estudantes', students_path %> </a>
<a class="btn btn-primary" <%= link_to 'Cadastro de Cursos', courses_path %></a>
<a class="btn btn-primary" <%= link_to 'Realizar Matrícula', classrooms_path %></a>
